html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: rgb(210, 216, 184);
    padding: 10px 20px 0px;
}
.menu a {
    display: block;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: black;
}
.menu a:hover {
    background-color: rgb(187, 192, 162);
}
.menu i {
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.header {
    display: flex;
    align-items: center;
    background-color: rgb(205, 225, 128);
    min-height: 150px;
}
.logo {
    width: 100px;
}
.title {
    display: flex;
    align-items: baseline;
    margin: 20px 30px auto;
    color: rgb(120, 140, 43);
}
.icon {
    font-size: 25px;
    width: 40%;
    color: rgb(120, 140, 43);
    text-align: right;
    padding-right: 20px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: #788c2b;
    min-height: 150px;
}
.fa-brands {
    width: 30px;
    color: #ddd;
    font-size: 25px;
}
.fa-brands:hover {
    color: rgb(180, 210, 65);
    cursor: pointer;
}
.footer-links {
    text-align: center;
    margin-top: 50px;
}